<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="CompensationInputSet"
    mode="InputText">
    <Require
      name="compensation"
      type="Compensation"/>
    <TextInput
      id="Include"
      label="&quot;Include&quot;"
      value="compensation.Include"/>
  </InputSet>
</PCF>